@import "../../../Shared/css/Components.scss";

.ranking {
  height: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    background-color: #0000;
    width: 1rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 1rem;
  }

  &__list {
    list-style-type: none;
    padding: 5rem 0;

    li {
      @include flexBlock(row, 0, center, center);
      border-bottom: solid 0.3rem $grey-color5;
      padding: 1rem 0;

      p {
        width: 25%;
        font-size: 1.6rem;
        text-align: center;
      }
    }
  }
}
