@import "../../../Shared/Variables.scss";

.pagination {
  @include flexBlock(row, 1rem, center, center);
  width: 100%;
  padding: 1rem;
  background-color: $grey-color9;
  z-index: 2;

  button {
    @include flexBlock(row, 0, center, center);
    @include mainButton;
    font-size: 1.2rem;
    padding: 0.5rem;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 100%;

    svg {
      height: 1.6rem;
    }
  }

  .currentPage {
    @include seconadryButton;
    font-size: 1.2rem;
    padding: 0.5rem;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 100%;
  }

  p {
    @include flexBlock(row, 0, center, center);
    font-size: 1.2rem;
    padding: 0.5rem;
    height: 100%;
    background-color: #0000;
  }
}
