//main color
$main-color0: #e3fafc;
$main-color1: #c5f6fa;
$main-color2: #99e9f2;
$main-color3: #66d9e8;
$main-color4: #3bc9db;
$main-color5: #22b8cf;
$main-color6: #15aabf;
$main-color7: #1098ad;
$main-color8: #0c8599;
$main-color9: #0b7285;

// grey colors
$grey-color0: #f8f9fa;
$grey-color1: #f1f3f5;
$grey-color2: #e9ecef;
$grey-color3: #dee2e6;
$grey-color4: #ced4da;
$grey-color5: #adb5bd;
$grey-color6: #868e96;
$grey-color7: #495057;
$grey-color8: #343a40;
$grey-color9: #212529;

// other colors
$danger-color: #f03e3e;
$success-color: #51cf66;
