//main color
$main-color0: #e3fafc;
$main-color1: #c5f6fa;
$main-color2: #99e9f2;
$main-color3: #66d9e8;
$main-color4: #3bc9db;
$main-color5: #22b8cf;
$main-color6: #15aabf;
$main-color7: #1098ad;
$main-color8: #0c8599;
$main-color9: #0b7285;

// grey colors
$grey-color0: #f8f9fa;
$grey-color1: #f1f3f5;
$grey-color2: #e9ecef;
$grey-color3: #dee2e6;
$grey-color4: #ced4da;
$grey-color5: #adb5bd;
$grey-color6: #868e96;
$grey-color7: #495057;
$grey-color8: #343a40;
$grey-color9: #212529;

// other colors
$danger-color: #f03e3e;
$success-color: #51cf66;

@mixin mainButton {
  width: fit-content;
  padding: 0.5rem 2rem;
  font-size: 2rem;
  font-weight: bold;
  background-color: $main-color0;
  border: solid 0.3rem #0000;
  outline: none;
  border-radius: 2rem;
  text-align: center;
  color: $main-color9;
  transition: all 0.3s;
  text-align: center;

  &:hover {
    cursor: pointer;
    border: solid 0.3rem $main-color3;
  }

  &:focus {
    border: solid 0.3rem $main-color3;
    box-shadow: 0 0 1rem 0.1rem $main-color1;
  }
}

@mixin seconadryButton {
  width: fit-content;
  padding: 0.5rem 2rem;
  font-size: 2rem;
  border: solid 0.3rem #0000;
  outline: none;
  border-radius: 2rem;
  text-align: center;
  color: $main-color0;
  background-color: $main-color8;
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
    border: solid 0.3rem $main-color3;
  }

  &:focus {
    border: solid 0.3rem $main-color3;
    box-shadow: 0 0 1rem 0.1rem $main-color1;
  }
}

@mixin mainInput {
  padding: 0.5rem 2rem;
  font-size: 2rem;
  background-color: $main-color0;
  border: solid 0.3rem #0000;
  outline: none;
  border-radius: 2rem;
  text-align: center;
  color: $main-color9;

  &:focus {
    border: solid 0.3rem $main-color3;
  }
}
