@import "../../../Shared/css/Components.scss";

.pagination {
  @include flexBlock(row, 1rem, center, center);
  width: 100%;
  padding: 1rem;
  background-color: $grey-color9;
  z-index: 2;

  button {
    @include flexBlock(row, 0, center, center);
    @include mainButton;
    padding: 0.5rem;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 100%;

    svg {
      width: 4rem;
      height: 4rem;
    }
  }

  .currentPage {
    @include seconadryButton;
    padding: 0.5rem;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 100%;
  }
}
