@import "../../../Variables.scss";

// header section
.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  gap: 5rem;
  font-size: 1.2rem;
  background-color: rgba($main-color9, 0.9);
  transition: all 0.3s;

  // logo
  &__logo {
    svg {
      height: 2rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  // navigation section
  &__nav {
    width: 100%;
    overflow: hidden;

    ul {
      height: 100%;
      list-style-type: none;
      display: flex;
      align-items: center;
      gap: 1rem;
      li {
        white-space: nowrap;
        padding: 0.5rem;

        &::after {
          content: "";
          display: block;
          top: 50%;
          height: 2px;
          width: 0;
          background-color: rgba($grey-color0, 0.5);
          transition: all 0.3s;
        }

        &:hover {
          cursor: pointer;
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
  // end navigation section

  // account section
  &__account {
    ul {
      height: 100%;
      list-style-type: none;
      display: flex;
      align-items: center;
      gap: 1rem;
      li {
        position: relative;
        white-space: nowrap;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &::after {
          content: "";
          position: absolute;
          display: block;
          bottom: -20%;
          height: 2px;
          width: 0;
          background-color: rgba($grey-color0, 0.5);
          transition: all 0.3s;
        }

        &:hover {
          cursor: pointer;
          &::after {
            width: 100%;
          }
        }

        svg {
          height: 2rem;
        }

        img {
          height: 2rem;
          width: 2rem;
          border-radius: 100%;
        }
      }
    }
  }
  // end account section
}
// end header section

.header-trans {
  background-color: #000;
  padding: 2rem 1rem;
  transition: all 0.3s;
}

@media (max-width: 600px) {
  .header {
    font-size: 3rem;
    padding: 2%;
    justify-content: space-between;

    &__logo {
      svg {
        height: 3rem;
      }
    }

    &__nav {
      width: 0;
    }
    &__account {
      ul {
        li {
          svg {
            height: 3rem;
          }
        }
      }
    }
  }
}
