@import "../../Variables.scss";

.container {
  position: relative;
  overflow: overlay;

  &::-webkit-scrollbar {
    background-color: #0000;
  }
}

.form-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(#000, 0.5);
  z-index: 9;
}

.form-page {
  position: absolute;
  z-index: 10;
  width: 40%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba($main-color9, 0.9);
  border-radius: 4rem;
  padding: 4rem;
  border: solid 0.5rem $grey-color0;
  visibility: visible;
  transition: all 0.3s;
  overflow: hidden;

  form {
    position: relative;
    height: 100%;
    h2 {
      font-size: 3rem;
      padding-bottom: 0.3rem;
      border-bottom: solid 0.3rem $grey-color0;
      user-select: none;
    }
    .x {
      position: absolute;
      width: 3rem;
      aspect-ratio: 1 / 1;
      background-color: $main-color0;
      color: $main-color9;
      border: solid 1px $main-color9;
      border-radius: 100%;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        cursor: pointer;
        background-color: $main-color1;
      }

      svg {
        height: 100%;
      }
    }

    .form-container {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      div {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

        span {
          font-size: 2rem;
          user-select: none;
        }

        input {
          padding: 0.5rem 2rem;
          font-size: 2rem;
          background-color: $main-color0;
          border: solid 0.3rem #0000;
          outline: none;
          border-radius: 2rem;
          text-align: center;
          color: $main-color9;

          &:focus {
            border: solid 0.3rem $main-color3;
          }
        }

        button {
          position: absolute;
          right: 0;
          width: fit-content;
          padding: 0.5rem 2rem;
          font-size: 2rem;
          background-color: $main-color0;
          border: solid 0.3rem #0000;
          outline: none;
          border-radius: 2rem;
          text-align: center;
          color: $main-color9;
          transition: all 0.3s;

          &:hover {
            cursor: pointer;
            border: solid 0.3rem $main-color3;
          }
          &:focus {
            border: solid 0.3rem $main-color3;
            box-shadow: 0 0 1rem 0.1rem $main-color1;
          }
        }
      }
    }
  }
}

.hidden {
  width: 0;
  height: 0;
  padding: 0;
  visibility: hidden;
  transition: all 0.3s;
}
