@import "../../Variables.scss";

.container {
  position: relative;
  overflow: overlay;

  &::-webkit-scrollbar {
    background-color: #0000;
  }
}

.form-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(#000, 0.5);
  z-index: 9;
}
