@import "../../../Shared/css/Components.scss";

// content container
.content {
  @include flexBlock(column, 1rem, start, start);
  position: relative;
  height: fit-content;
  text-align: justify;
  text-shadow: 1px 1px #000;

  h1 {
    position: sticky;
    top: 0;
    font-size: 5rem;
    padding: 1rem 5rem;
    border-bottom: solid 0.5rem $main-color7;
    text-shadow: 2px 2px #000;
    background-color: $grey-color8;
  }

  h2 {
    font-size: 3rem;
    width: fit-content;
    padding: 0.5rem;
    border-bottom: solid 0.3rem $main-color5;
    text-shadow: 2px 2px #000;
  }

  p {
    font-size: 2rem;
    color: $grey-color3;
  }

  ul {
    padding-left: 4rem;
    li {
      font-size: 2rem;
      color: $grey-color3;
    }
  }
}
// end content container
