@import "../../Variables.scss";

// home page container
.container {
  position: relative;
  overflow: overlay;
  height: fit-content;

  &::-webkit-scrollbar {
    background-color: #0000;
  }
}

// modal background
.form-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(#000, 0.5);
  z-index: 9;
}
