@import "../../../Shared/Variables.scss";

// header
.header {
  @include flexBlock(row, 0, space-evenly, start);
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2% 0;

  // header logo
  &__logo {
    position: relative;
    width: 20%;

    &:hover {
      cursor: pointer;
    }

    svg {
      position: absolute;
      width: 50%;
      top: 0%;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  // header navigation bar
  &__nav {
    background-color: rgba($main-color0, 0.2);
    padding: 1.2rem 2.4rem;
    border-radius: 10rem;
    z-index: inherit;

    ul {
      @include flexBlock(row, 2rem, start, start);
      list-style-type: none;
      user-select: none;
      z-index: inherit;

      li {
        padding: 0.8rem 1.6rem;
        flex-grow: 1;
        font-size: 1.6rem;
        font-weight: 500;
        border-radius: 10rem;
        transition: all 0.3s;
        z-index: inherit;

        &:hover {
          cursor: pointer;

          &::after {
            width: 100%;
          }
        }

        &::after {
          content: "";
          display: block;
          top: 50%;
          height: 2px;
          width: 0;
          background-color: rgba($grey-color0, 0.5);
          transition: all 0.3s;
        }
      }
    }
  }
  // end header navigation bar
}
// end header

// mobile layout
@media (max-width: 800px) {
  .header {
    justify-content: center;
    padding: 0;

    // hide logo on small devices
    &__logo {
      width: 0;
    }

    &__nav {
      width: 100%;
      border-radius: 4rem;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      ul {
        li {
          padding: 1.2rem 2.4rem;
          font-size: 3rem;
        }
      }
    }
  }
}
