@import "../../../../Variables.scss";

.footer {
  @include flexBlock(row, 0, center, center);
  width: 100%;
  background-color: #000;
  border-top: solid 0.5rem $grey-color0;
  padding-bottom: 10rem;
}
