@import "../../../Variables.scss";

// form
.form {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;

  // row
  .row {
    width: 100%;
    display: flex;
    gap: 4rem;
    padding: 1rem;

    span {
      font-size: 2rem;
      white-space: nowrap;
    }

    &__col {
      width: 50%;

      input {
        @include mainInput;
        width: 100%;
      }

      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }

      input[type="datetime-local"] {
        user-select: none;
      }

      input[type="datetime-local"]::-webkit-calendar-picker-indicator {
        display: none;
      }
    }

    &__block {
      width: 100%;
      display: flex;
      flex-direction: column;

      textarea {
        @include mainInput;
        text-align: left;
        resize: none;

        &::-webkit-scrollbar {
          background-color: #0000;
        }
      }
    }

    &__list {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 1rem;

      .radio {
        display: inline-block;
        align-self: flex-end;
        cursor: pointer;
        user-select: none;

        span {
          display: inline-block;
          border-radius: 1rem;
          padding: 0.5rem 1rem;
          border: solid 0.2rem $main-color0;
          font-size: 2rem;
        }

        input[type="radio"] {
          display: none;
        }

        input[type="radio"]:checked ~ span {
          color: $main-color9;
          border: solid 0.2rem $main-color9;
          background-color: $main-color0;
        }
      }

      .list {
        width: 80%;
        height: 5rem;
        padding: 1rem;
        border-left: solid 0.2rem $main-color0;
        border-right: solid 0.2rem $main-color0;
        border-radius: 1rem;
        display: inline-flex;
        flex-direction: row;
        gap: 1rem;
        overflow-x: scroll;
        overflow-y: hidden;

        &::-webkit-scrollbar {
          display: none;
        }

        .coin {
          width: fit-content;
          height: 100%;
          background-color: $main-color0;
          color: $main-color9;
          border-radius: 1rem;
          padding: 1rem;
          display: flex;
          flex-direction: row;
          gap: 0.5rem;
          white-space: nowrap;
          user-select: none;

          svg {
            height: 100%;

            &:hover {
              cursor: pointer;
              background-color: $main-color9;
              border-radius: 100%;
              stroke: $main-color0;
            }
          }
        }
      }

      .add-button {
        width: 5%;
        position: relative;
        aspect-ratio: 1/1;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          position: absolute;
          background-color: $main-color9;
          height: 80%;
          border-radius: 100%;

          &:hover {
            cursor: pointer;
          }

          &:active {
            background-color: $main-color7;
          }
        }
      }
    }

    // confirm button
    button {
      @include actionButton;
      position: absolute;
      top: 50%;
      left: 150%;
      transform: translate(-50%, -50%);
      font-size: 5rem;
      border-width: 1rem;
      transition: all 0.3s;
      animation: buttonAnime 2s infinite;

      &:hover {
        border-width: 1rem;
        border-color: #992617;
        color: #992617;
        background-color: $grey-color0;
        filter: invert(1);
      }
    }

    @keyframes buttonAnime {
      0% {
        box-shadow: 0 0 1rem 0rem #fff;
      }

      50% {
        box-shadow: 0 0 1rem 1rem #fff;
      }

      100% {
        box-shadow: 0 0 1rem 0rem #fff;
      }
    }
  }
  // end row
}
// end form

@media (max-width: 800px) {
  .form {
    gap: 2rem;
    .row {
      position: relative;

      span {
        font-size: 3rem;
      }

      input {
        font-size: 3rem;
      }

      button {
        left: 50%;
        font-size: 4rem;
        border-width: 0.5rem;
      }
    }
  }
}
