@import "../../../Variables.scss";

.manage {
  @include container;
  display: grid;
  grid-template-columns: 40% 60%;

  &__games {
    // @include flexBlock(column, 0, start, start);
    height: 100vh;
    background-color: $grey-color9;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 34% 60% 6%;
    border-right: solid 0.5rem $grey-color8;

    // search bar row
    &__bar {
      @include flexBlock(column, 1rem, center, center);
      width: 100%;
      border-bottom: solid 0.5rem $grey-color8;
      padding: 2rem;
      padding-top: 8rem;

      h2 {
        font-size: 3rem;
        text-shadow: 2px 2px 2px #000;
        user-select: none;
      }

      input {
        @include mainInput;
        max-width: 60%;
      }

      p {
        width: 60%;
        font-size: 2rem;
        text-align: center;
      }

      // radios
      .radios {
        @include flexBlock(row, 0, space-evenly, center);
        width: 40%;

        label {
          cursor: pointer;
          display: inline-block;
          user-select: none;

          input[type="radio"] {
            display: none;
          }

          span {
            @include roundedBlock(1rem, 0.5rem 1rem);
            display: inline-block;
            border: solid 0.2rem $grey-color0;
            font-size: 2rem;
          }

          input[type="radio"]:checked ~ span {
            color: $grey-color9;
            border: solid 0.2rem $grey-color9;
            background-color: $grey-color0;
          }
        }
      }
      // end radios
    }
    // end search bar row

    // games list
    &__list {
      @include flexBlock(column, 1rem, start, center);
      width: 100%;
      padding: 2rem;
      border-bottom: solid 0.5rem $grey-color8;

      &__header {
        @include flexBlock(row, 0, space-evenly, start);
        width: 100%;

        span {
          width: 25%;
          font-size: 2rem;
          text-align: center;
        }
      }

      ul {
        @include flexBlock(column, 2rem, start, center);
        width: 100%;
        list-style-type: none;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 0.5rem;

        &::-webkit-scrollbar {
          background-color: #0000;
          width: 1rem;
        }

        &::-webkit-scrollbar-thumb {
          background-color: $main-color9;
          border-radius: 1rem;
        }

        li {
          @include flexBlock(row, 0, space-evenly, center);
          width: 100%;
          background-color: $main-color0;
          padding: 1rem;
          border-radius: 1rem;
          color: $grey-color9;

          &:hover {
            cursor: pointer;
            background-color: $main-color9;
            color: $main-color0;

            span {
              border-color: $main-color0;
            }
          }

          span {
            width: 25%;
            font-size: 1.6rem;
            text-align: center;
            border-right: solid 0.2rem $grey-color9;
            overflow: hidden;
            white-space: nowrap;

            &:last-child {
              border: none;
            }
          }
        }
      }
    }
    // end list

    // pagination
    .pagination {
      @include flexBlock(row, 1rem, center, center);
      width: 100%;
      padding: 1rem;
      background-color: $grey-color9;
      z-index: 2;

      button {
        @include mainButton;
        font-size: 0.8rem;
        padding: 0.5rem;
        height: 100%;
        aspect-ratio: 1/1;
        border-radius: 100%;
      }

      .currentPage {
        @include seconadryButton;
        font-size: 0.8rem;
        padding: 0.5rem;
        height: 100%;
        aspect-ratio: 1/1;
        border-radius: 100%;
      }

      p {
        @include mainButton;
        font-size: 0.8rem;
        padding: 0.5rem;
        height: 100%;
        aspect-ratio: 1/1;
        background-color: #0000;

        &:hover {
          background-color: #0000;
          cursor: default;
          border-color: #0000;
        }
      }
    }
    // end pagination
  }

  &__details {
    display: flex;
    justify-content: center;
    align-items: center;

    .info {
      background-color: rgba($main-color9, 0.5);
      padding: 1rem;
      border-radius: 1rem;

      h3 {
        width: 100%;
        font-size: 3rem;
        text-align: center;
        border-bottom: solid 0.5rem $main-color9;
      }

      p {
        font-size: 2rem;
        padding: 0.5rem;
      }
    }
  }
}
