@import "../../../../Variables.scss";

.details {
  @include flexBlock(column, 1rem, start, center);
  @include roundedBlock(1rem, 2rem);
  width: 100%;
  max-height: 32rem;
  margin: 2rem;
  background-color: rgba($main-color9, 0.5);
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    background-color: #0000;
    width: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $main-color9;
    border-radius: 1rem;
  }

  div {
    width: 100%;

    h3 {
      font-size: 3rem;
    }

    span {
      font-size: 1.4rem;
      color: $grey-color5;
    }

    p {
      font-size: 1.6rem;
    }
  }

  button {
    @include actionButton;
    width: 80%;
  }
}
