@import "../../Shared/Variables.scss";

.container {
  @include container;

  &__grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 60% 40%;

    &__column {
      position: relative;
      width: 100%;
      height: 100%;

      &:last-child {
        background-color: $grey-color9;
        border-left: solid 0.5rem $grey-color8;
        display: grid;
        grid-template-rows: 50% 50%;
      }
    }
  }
}
