@import "../../../Shared/Variables.scss";

.panel {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 20rem;
  transition: all 0.3s;
  z-index: 6;

  &__actions {
    background-color: $grey-color9;
    padding: 2rem;
    padding-top: 7rem;
    width: 80%;
    overflow: hidden;
    z-index: 6;
    transition: all 0.3s;

    h1 {
      font-size: 4rem;
      white-space: nowrap;
    }

    .buttons {
      @include flexBlock(row, 4rem, end, center);

      button {
        font-size: 3rem;
        padding: 1rem 2rem;
        border-radius: 2rem;
        background-color: rgba(#000, 0.2);

        &:first-child {
          color: $success-color;
          border: solid 0.3rem $success-color;

          &:hover {
            background-color: $success-color;
          }
        }
        &:last-child {
          color: $danger-color;
          border: solid 0.3rem $danger-color;

          &:hover {
            background-color: $danger-color;
          }
        }

        &:hover {
          cursor: pointer;
          color: #000;
          border-color: #000;
        }
      }
    }
  }

  .hidden-panel {
    padding: 0;
    width: 0;
    transition: all 0.3s;
  }

  &__button {
    background-color: $grey-color8;
    border-bottom-right-radius: 2rem;
    width: 3rem;
    z-index: 6;

    &:hover {
      cursor: pointer;
      background-color: $grey-color7;
    }
  }

  &__expand {
    position: absolute;
    top: 0;
    height: calc(200%);
    left: calc(20%);
    width: 60%;
    transform-style: preserve-3d;
    transform: rotateX(0deg);
    display: grid;
    grid-template-rows: 50% auto;
    background-color: rgba(#000, 0.2);
    z-index: 5;
    transition: all 0.3s;

    .form {
      @include flexBlock(column, 2rem, start, center);
      padding: 4rem;
      padding-top: 1rem;
      background-color: $grey-color9;
      border-bottom-left-radius: 2rem;
      border-bottom-right-radius: 2rem;

      h2 {
        @include flexBlock(row, 2rem, start, center);
        position: relative;
        align-self: start;
        font-size: 3rem;

        .buy {
          color: $success-color;
        }
        .sell {
          color: $danger-color;
        }

        img {
          height: 3rem;

          &:hover {
            cursor: pointer;
          }
        }

        .coin-list {
          @include roundedBlock(0.6rem, 0.6rem);
          position: absolute;
          top: 0;
          left: calc(100% + 2rem);
          background-color: $grey-color1;
          color: $grey-color9;

          p {
            @include flexBlock(row, 0.5rem, start, center);
            font-size: 1.6rem;
            background-color: $grey-color1;
            padding: 0.5rem;

            &:hover {
              cursor: pointer;
              background-color: $grey-color9;
              color: $grey-color0;
            }

            img {
              height: 1.2rem;
            }
          }
        }

        .hidden-list {
          display: none;
        }
      }

      input {
        @include mainInput;
        text-align: start;
      }

      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }

      .hidden-input {
        display: none;
      }

      button {
        @include actionButton(0);
        align-self: end;
        font-size: 2rem;
      }
    }
  }

  .expand-close {
    transform: rotateX(90deg);
    transition: all 0.3s;
  }
}
