@import "../../../../Variables.scss";

// coin form conatiner
.form {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  .grid {
    &:first-child {
      text-align: center;
      width: 100%;
      grid-column: 1 / -1;
      font-size: 3rem;

      span {
        color: $main-color2;
      }
    }
    &:last-child {
      @include flexBlock(row, 2rem, center, center);
      grid-column: 1 / -1;
    }

    .row {
      width: 100%;
      display: flex;
      flex-direction: column;

      span {
        font-size: 2rem;
        white-space: nowrap;
      }

      input {
        @include mainInput;
      }

      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }
    }

    button {
      &:nth-child(1) {
        @include mainButton;
      }

      &:nth-child(2) {
        @include seconadryButton;
      }
    }
  }
}
// end coin form conatiner
