@import "../../../../Variables.scss";

// games container
.games {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #000;
  margin-bottom: 100rem;
  padding: 20rem 0;
  margin-top: 5rem;

  &::before {
    content: "";
    width: 100%;
    height: 5rem;
    background-color: #0000;
    position: absolute;
    top: -5rem;
    border-bottom-right-radius: 5rem;
    box-shadow: 5rem 0 0 #000;
  }

  &::after {
    content: "";
    width: 100%;
    height: 10rem;
    background-color: #0000;
    position: absolute;
    bottom: -10rem;
    border-top-left-radius: 10rem;
    border-top-right-radius: 10rem;
    box-shadow: 0 -5rem 0 5rem #000;
  }

  .section-title {
    position: absolute;
    top: 6rem;
    left: 10rem;
    width: 70%;
    font-size: 8rem;
    border-bottom: solid 1rem $main-color7;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    transition: all 1s;
  }

  .hidden-title {
    width: 0;
    transition: all 1s;
  }

  // card
  &__card {
    position: relative;
    margin: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50rem;
    border-bottom: solid 0.5rem $main-color0;

    &:hover > .cover {
      width: 0;
      border: none;
    }

    &:nth-child(2) {
      background-color: $main-color7;
      background-image: repeating-conic-gradient(
        from 0deg at 80% 20%,
        #0000 20%,
        $main-color3 40%
      );
    }
    &:nth-child(3) {
      background-color: $main-color9;
      background-image: repeating-conic-gradient(
        from 0deg at 20% 60%,
        #0000 20%,
        $main-color5 40%
      );
    }
    &:nth-child(4) {
      background-color: $main-color4;
      background-image: repeating-conic-gradient(
        from 0deg at 70% 40%,
        #0000 20%,
        $main-color8 40%
      );
    }

    h2 {
      font-size: 3rem;
      text-shadow: 2px 2px 2px #000;
      user-select: none;

      &:hover {
        cursor: pointer;
      }
    }

    .form-search {
      width: 80%;
      overflow: hidden;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 1rem;
      padding: 2rem 0;

      input {
        @include mainInput;
        font-size: 1.2rem;
      }

      button {
        @include mainButton;
        font-size: 1.2rem;
      }
    }

    ul {
      list-style-type: none;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      margin-top: 1rem;
      font-size: 1.4rem;
      overflow: overlay;

      &::-webkit-scrollbar {
        background-color: #0000;
        width: 1rem;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $main-color0;
        border-radius: 1rem;
      }

      li {
        width: 80%;
        padding: 1rem;
        border-radius: 1rem;
        background-color: $grey-color9;
      }
    }

    .pagination {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      padding: 1rem;

      button {
        @include mainButton;
        font-size: 0.8rem;
        padding: 0.5rem;
        height: 100%;
        aspect-ratio: 1/1;
      }

      .currentPage {
        @include seconadryButton;
        font-size: 0.8rem;
        padding: 0.5rem;
        height: 100%;
        aspect-ratio: 1/1;
      }

      p {
        @include mainButton;
        font-size: 0.8rem;
        padding: 0.5rem;
        height: 100%;
        aspect-ratio: 1/1;
        background-color: #0000;
        &:hover {
          background-color: #0000;
          cursor: default;
          border-color: #0000;
        }
      }
    }

    .cover {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($grey-color9, 0.5);
      border-radius: 2rem;
      border: solid 0.5rem $main-color0;
      border-bottom: none;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      transition: all 0.3s;
    }
  }
  // end card
}
// end games container

@media (max-width: 600px) {
  .games {
    grid-template-columns: 1fr;
    padding-top: 30rem;

    .section-title {
      white-space: normal;
      max-height: 20rem;
    }

    &__card {
      height: 80rem;
    }
  }
}
