@import "../../../Variables.scss";

.browser {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5rem;
  margin-bottom: 5rem;

  &__details {
    height: 60rem;
    margin: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 0.5rem $main-color0;
    background-color: $main-color9;
    background-image: repeating-conic-gradient(
      from 0deg at 20% 60%,
      #0000 20%,
      $main-color5 40%
    );
  }
}

// &:nth-child(1) {
//     background-color: $main-color7;
//     background-image: repeating-conic-gradient(
//       from 0deg at 80% 20%,
//       #0000 20%,
//       $main-color3 40%
//     );
//   }
//   &:nth-child(3) {
//     background-color: $main-color9;
//     background-image: repeating-conic-gradient(
//       from 0deg at 20% 60%,
//       #0000 20%,
//       $main-color5 40%
//     );
//   }
//   &:nth-child(4) {
//     background-color: $main-color4;
//     background-image: repeating-conic-gradient(
//       from 0deg at 70% 40%,
//       #0000 20%,
//       $main-color8 40%
//     );
//   }
