@import "../../../Variables.scss";

// card
.card {
  width: 100%;
  height: 100%;
  padding: 2rem;
  border-radius: 2rem;
  border-bottom: solid 0.5rem $main-color0;
  background-color: #000;
  overflow: hidden;
  transition: all 1s;

  &__content {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 2rem;

    .text {
      padding: 2rem;
      background-color: rgba(#000, 0.5);
      h2 {
        font-size: 3rem;
      }
      p {
        font-size: 1.5rem;
      }
    }
    .buttons {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 2rem;
      display: flex;
      gap: 2rem;

      button {
        @include actionButton;
        background-color: rgba(#000, 0.5);
      }
    }
  }

  .content-style-1 {
    background-image: repeating-conic-gradient(
      from 0deg at 80% 20%,
      #0000 20%,
      $main-color1 40%
    );
  }
  .content-style-2 {
    background-image: repeating-conic-gradient(
      from 0deg at 20% 60%,
      #0000 20%,
      $main-color2 40%
    );
  }
  .content-style-3 {
    background-image: repeating-conic-gradient(
      from 0deg at 70% 40%,
      #0000 20%,
      $main-color3 40%
    );
  }
  .content-style-4 {
    background-image: repeating-conic-gradient(
      from 0deg at 80% 50%,
      #0000 20%,
      $main-color4 40%
    );
  }

  .content-style-5 {
    background-image: repeating-conic-gradient(
      from 0deg at 20% 90%,
      #0000 20%,
      $main-color5 40%
    );
  }

  .content-style-6 {
    background-image: repeating-conic-gradient(
      from 0deg at 40% 30%,
      #0000 20%,
      $main-color6 40%
    );
  }

  .content-style-7 {
    background-image: repeating-conic-gradient(
      from 0deg at 60% 70%,
      #0000 20%,
      $main-color7 40%
    );
  }

  .content-style-8 {
    background-image: repeating-conic-gradient(
      from 0deg at 30% 50%,
      #0000 20%,
      $main-color8 40%
    );
  }

  .content-style-9 {
    background-image: repeating-conic-gradient(
      from 0deg at 90% 10%,
      #0000 20%,
      $main-color9 40%
    );
  }
}
// end card

.hidden {
  transform: translateY(20%);
  opacity: 0.1;
  transition: all 0s;
}
