@import "../../../../Variables.scss";

// table
.table {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 9% 91%;
  overflow: hidden;

  // table header
  &__header {
    width: 100%;
    height: 100%;

    ul {
      @include flexBlock(row, 0, space-evenly, center);
      list-style-type: none;
      width: 100%;
      height: 100%;
      border-bottom: solid 0.3rem $grey-color0;

      li {
        width: 25%;
        font-size: 2rem;
        text-align: center;
      }
    }
  }
  // end table header

  // table conatnet
  &__content {
    width: 100%;
    height: 100%;

    // table list
    ul {
      list-style-type: none;
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(10, 1fr);

      li {
        @include flexBlock(row, 0, space-evenly, center);
        padding: 1rem;
        transition: transform 0.3s;

        &:hover {
          background-color: $grey-color9;
          filter: invert(1);
        }

        span {
          width: 25%;
          font-size: 2rem;
          text-align: center;
          border-right: solid 0.3rem $grey-color0;

          &:last-child {
            border-right: none;
          }
        }
      }

      .hidden-element {
        transform: translateX(100%);
      }
    }
    // end table list
  }
  // end table content
}
// end table

// mobile layout
@media (max-width: 800px) {
  .table {
    max-height: 50rem;
  }
}
// end mobile layout
